<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGEA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sistema.css') }}">
</head>
<body>


<div class="layout">

        {% if mostrar_sidebar %}
        
            {% include "componentes/sidebar.html" %}

        {% endif %}

    <main class="contenido">
        {% block contenido %}
            {% if session.rol == 'LIDER' %}
                
                {% include "componentes/vista_lider.html" %}
                
            {% else %}
                
                {% include "componentes/vista_empleado.html" %}
                
            {% endif %}
        {% endblock %}
    </main>

</div>

</body>
</html>